.about-us {
  .wrapper();

  &__title {
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 45px;
    color: #037693;
    padding-top: 35px;
    padding-bottom: 55px;
  }
}
