.event-manage {
  background-color: #162752;
  background-image: url("../img/event-manage-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -25px;
  background-size: 100% 125%;

  &__wrapper {
    .wrapper();
  }
  &__title {
    font-size: 44px;
    line-height: 48px;
    font-weight: 900;
    color: #FFFFFF;
    padding-top: 145px;
    padding-bottom: 35px;
    text-shadow: 0 10px 0 #000000;
    position: relative;
    width: 650px;
    margin: 0 auto;

    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 35px;
      height: 5px;
      border-left: 6px solid #ffffff;
      border-right: 15px solid #ffffff;
      right: 205px;
      bottom: 15px;
    }
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 180px;
      height: 5px;
      bottom: 15px;
      right: 10px;
      background-color: #ffffff;
    }
  }
  &__description {
    margin: 0;
    font-size: 26px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 65px;
    padding-right: 55px;
  }
  &__controls {
    display: flex;
    flex-direction: row;
    width: 560px;
    margin: 0 auto;
    padding-bottom: 70px;
  }
  &__button {
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-size: 26px;
    font-weight: 500;
    padding-top: 17px;
    padding-bottom: 12px;
    text-align: center;
  }
  &__create {
    width: 215px;
    margin-right: 54px;
  }
  &__join {
    width: 144px;
    cursor: pointer;
  }
  &__code {
    width: 143px;
    text-align: center;
    color: #037693;
    font-size: 22px;
    height: 100%;
    vertical-align: top;
    border: none;
    position: relative;
    left: -3px;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/event-manage-bg-desktop.jpg");
    background-position: center;
    background-size: 100%;

    &__title {
      font-size: 53px;
      width: 760px;
      padding-top: 240px;
      padding-bottom: 47px;

      &::before {
        height: 6px;
        width: 40px;
        right: 240px;
        bottom: 26px;
        border-left-width: 8px;
        border-right-width: 15px;
      }
      &::after {
        height: 6px;
        width: 220px;
        right: 10px;
        bottom: 26px;
      }
    }
    &__contents {
      padding-right: 400px;
      background-repeat: no-repeat;
      background-image: url("../img/iphone.png");
      background-position: 89% 220px;
      background-size: 455px;
    }
    &__description {
      font-size: 33px;
      padding-bottom: 162px;
    }
    &__controls {
      width: 472px;
      padding-bottom: 230px;
    }
    &__button {
      font-size: 20px;
      padding-top: 11px;
      padding-bottom: 12px;
    }
    &__create {
      width: 176px;
      margin-right: 44px;
    }
    &__join {
      width: 119px;
    }
    &__code {
      width: 115px;
    }
  }
  @media (min-width: @desktop-width) {
    &__contents {
      padding-right: 860px;
      background-position: 80% 330px;
      background-size: 700px;
    }
    &__title {
      font-size: 83px;
      padding-top: 370px;
      padding-bottom: 57px;
      width: 1200px;

      &::before {
        height: 10px;
        width: 65px;
        right: 360px;
        border-left-width: 15px;
        border-right-width: 25px;
      }
      &::after {
        height: 10px;
        width: 340px;
      }
    }
    &__description {
      font-size: 50px;
      padding-bottom: 250px;
    }
    &__controls {
      font-size: 33px;
      padding-bottom: 360px;
      width: 700px;
    }
    &__create {
      width: 270px;
    }
    &__join {
      width: 180px;
    }
    &__code {
      font-size: 28px;
      width: 180px;
      left: -5px;
    }
  }
}
