.events {
  background-color: #efeeee;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .wrapper();
    padding-bottom: 350px;

    &__wrapper {
      flex-direction: row;
      width: 1480px;
    }
    &__item {
      width: 455px;
      margin-right: 80px;
    }
    &__title {
      display: block;
      margin: 0 auto;
      width: 205px;
      font-weight: 300;
      font-size: 63px;
      color: #037693;
      padding-top: 155px;
      padding-bottom: 160px;

      &::after {
        width: 120px;
        height: 3px;
        bottom: 156px;
        right: 70px;
        border-left: 85px solid #037693;
        border-right: 13px solid #037693;
      }
    }
  }
  @media (min-width: @desktop-width) {
    padding-bottom: 90px;

    &__wrapper {
      width: 1700px;
    }
    &__item {
      width: 580px;
      position: relative;
    }
    &__title {
      font-size: 83px;
      padding-top: 80px;
      padding-bottom: 110px;
      width: 280px;

      &::after {
        width: 140px;
        height: 6px;
        bottom: 105px;
        right: 115px;
        border-left-width: 102px;
        border-right-width: 16px;
      }
    }
  }
}
