.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  &__link {
    text-decoration: none;
    color: #FFFFFF;
    padding: 7px 0 7px 0;
    display: block;
    font-weight: 300;

    &:not([href]) {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 1130px;
    padding-left: 410px;

    &__link {
      display: block;
      width: 100%;
      color: #FFFFFF;
      text-decoration: none;
      text-align: center;
      font-size: 25px;
      padding-top: 50px;
      padding-bottom: 55px;
    }
  }
  @media (min-width: @desktop-width) {
    width: 1120px;
    padding-left: 100px;

    &__link {
      font-size: 39px;
      padding-top: 80px;
      padding-bottom: 85px;
    }
  }
}
