.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  &__link {
    display: block;
    width: 100%;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
  }
}
