.page-footer {
  .wrapper();
  background-color: #000000;
  padding-top: 25px;
  padding-bottom: 35px;

  @media (max-width: @tablet-width) {
    padding-bottom: 60px;

    &__controls {
      .visually-hidden();
    }
  }
  @media (min-width: @tablet-width) {
    &__logo {
      padding-top: 165px;
      padding-bottom: 90px;
    }
    &__controls {
      padding-bottom: 80px;
    }
    &__social {
      padding-bottom: 120px;
    }
  }
  @media (min-width: @desktop-width) {
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      padding-top: 125px;
      padding-bottom: 75px;
    }
    &__interact {
      width: 380px;
    }
    &__social {
      padding-bottom: 50px;
    }
  }
}
