.partners {
  .wrapper();
  background-color: #2d2c2c;
  background-repeat: no-repeat;
  background-image: url("../img/partners-bg-mobile.jpg");
  background-position: center;
  background-size: 100%;

  &__title {
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 43px;
    padding-bottom: 115px;
  }
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 370px;
    justify-content: center;
    margin: 0 auto;
    // padding-bottom: 65px;
  }
  &__item {
    width: 115px;
    padding-bottom: 40px;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/partners-bg-tablet.jpg");

    &__title {
      font-size: 69px;
      padding-top: 108px;
      padding-bottom: 250px;
    }
    &__items {
      width: 760px;
    }
    &__item {
      width: 245px;
      padding-bottom: 85px;
    }
  }
  @media (min-width: @desktop-width) {
    background-image: url("../img/partners-bg-desktop.jpg");
    background-size: 125%;

    &__title {
      font-size: 83px;
      padding-top: 20px;
      padding-bottom: 135px;
    }
    &__items {
      width: 2110px;
      justify-content: space-between;
      padding-bottom: 140px;
    }
    &__item {
      width: 200px;
    }
  }
}
