.partners {
  .wrapper();
  background-color: #2d2c2c;
  background-repeat: no-repeat;
  background-image: url("../img/partners-bg-mobile.jpg");
  background-position: center;
  background-size: 100%;

  &__title {
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;
    padding-top: 38px;
    padding-bottom: 115px;
    width: 200px;
    margin: 0 auto;

    &::after {
      width: 72px;
      height: 3px;
      border-left: 58px solid #ffffff;
      border-right: 9px solid #ffffff;
      right: 18px;
      bottom: 110px;
      transform: rotate(180deg);
    }
  }
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 370px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  &__item {
    width: 115px;
    padding-bottom: 50px;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/partners-bg-tablet.jpg");

    &__title {
      font-size: 69px;
      padding-top: 101px;
      padding-bottom: 256px;
      width: 300px;

      &::after {
        width: 120px;
        height: 5px;
        bottom: 243px;
        right: 30px;
        border-left-width: 85px;
        border-right-width: 13px;
      }
    }
    &__items {
      width: 760px;
      padding-bottom: 31px;
    }
    &__item {
      width: 245px;
      padding-bottom: 105px;
    }
  }
  @media (min-width: @desktop-width) {
    background-image: url("../img/partners-bg-desktop.jpg");
    background-size: 130%;

    &__title {
      font-size: 91px;
      padding-top: 20px;
      padding-bottom: 135px;
      width: 350px;

      &::after {
        width: 140px;
        height: 6px;
        bottom: 130px;
        right: 10px;
        border-left-width: 102px;
        border-right-width: 16px;
      }
    }
    &__items {
      width: 2110px;
      justify-content: space-between;
      padding-bottom: 140px;
    }
    &__item {
      width: 200px;
    }
  }
}
