.subscribe {
  &__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 31px;
    font-weight: 300;
    padding-bottom: 55px;
    margin: 0;
  }
  &__form {
    width: 525px;
    margin: 0 auto;
    padding-bottom: 190px;
    position: relative;

    &::after {
      display: table;
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      top: 5px;
      right: 5px;
      background-repeat: no-repeat;
      background-image: url("../img/envelope.png");
    }
  }
  &__email {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    text-align: center;
    width: 100%;
    font-size: 31px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-bottom: 10px;
  }
  &__copyright {
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
    font-weight: 300;
  }

  @media (min-width: @tablet-width) {
    &__title {
      font-size: 61px;
      padding-bottom: 120px;
    }
    &__form {
      padding-bottom: 357px;
      width: 1085px;

      &::after {
        width: 100px;
        height: 70px;
        right: -20px;
        background-size: 70%;
      }
    }
    &__email {
      font-size: 61px;
    }
  }
  @media (min-width: @desktop-width) {
    &__title {
      font-size: 22px;
      padding-bottom: 40px;
    }
    &__form {
      padding-bottom: 0;
      width: 380px;

      &::after {
        width: 35px;
        height: 35px;
        right: 5px;
        top: -5px;
        background-size: initial;
      }
    }
    &__email {
      font-size: 22px;
      width: 375px;
    }
  }
}
