.subscribe {
  &__title {
    color: #FFFFFF;
    text-align: center;
    font-size: 31px;
    font-weight: 300;
    padding-bottom: 55px;
    margin: 0;
  }
  &__form {
    width: 525px;
    margin: 0 auto;
    padding-bottom: 192px;
  }
  &__email {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    text-align: center;
    width: 100%;
    font-size: 31px;
    opacity: 0.5;
  }
  &__copyright {
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
    font-weight: 300;
  }
}
