.we-are {
  font-family: "Lato", Arial, sans-serif;

  &__description {
    color: #FFFFFF;
    text-align: center;
    font-size: 31px;
    line-height: 41px;
    margin: 0;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 145px;
  }

  @media (min-width: @tablet-width) {
    &__description {
      width: 1210px;
      font-size: 64px;
      line-height: 86px;
      margin: 0 auto;
      padding-bottom: 165px;
    }
  }
  @media (min-width: @desktop-width) {
    &__description {
      font-size: 25px;
      width: 465px;
      line-height: 33px;
      padding-bottom: 245px;
    }
  }
}
