.who {

  &__title {
    margin: 0 auto;
    font-weight: bold;
    font-size: 45px;
    color: #037693;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 10px;
  }
  &__subtitle {
    margin: 0;
    color: #037693;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    padding-bottom: 55px;
  }
  &__description {
    margin: 0 auto;
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 135px;
    width: 546px;
    text-align: center;
  }
}
